name: Build Project

on:
  push:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build sources jar
        env:
          GRADLE_OPTS: "-Dorg.gradle.logging.level=info -Dorg.gradle.console=plain"
        run: ./gradlew sourcesJar --stacktrace --info --console=plain

      - name: Build javadoc jar
        env:
          GRADLE_OPTS: "-Dorg.gradle.logging.level=info -Dorg.gradle.console=plain"
        run: ./gradlew javadocJar --stacktrace --info --console=plain

      - name: Build jars
        env:
          GRADLE_OPTS: "-Dorg.gradle.logging.level=info -Dorg.gradle.console=plain -Dorg.gradle.jvmargs='-Xmx2G -Dfile.encoding=UTF-8'"
        run: ./gradlew build 
